body {
    margin: 0;
    font-family: Arial, Helvetica, 'Microsoft Yahei', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #7e8793;
}

* {
    box-sizing: border-box;
}

.padded {
    padding: 1rem;
}

.gray {
    color: #9fa3b0;
}

.btn {
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
}

.home-header {
    background: url('../images/home-bg.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    padding-bottom: 1.5rem;
}

.home-header>img {
    width: 73%;
    margin: 2rem;
    /*  正常 1rem = 16px*/
}

.home-header form {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    line-height: 2.2rem;
    border-radius: 2.2rem;
}

.home-header form input {
    width: 75%;
    /* 此操作去除input外边框*/
    outline: none;
    border: 0px;
}

.home-header form button {
    font-size: 0.9rem;
    color: #5bd4c7;
    border: none;
    background: none;
}

.home-categories {
    padding: 0 1em;
}

.home-categories dl {
    border-bottom: 1px solid #f5f8f9;
    padding-bottom: 1rem;
    padding-top: 0.4rem;
}

.home-categories dt {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}

.home-categories dt img {
    height: 3rem;
    align-items: center;
    margin-right: 1rem;
}

.home-categories dt .sub-name {
    font-weight: 1000;
    color: #000000;
    font-size: 0.95rem;
}

.home-categories dd {
    /* 对冲下面 a标签的margin*/
    margin: 0 -0.4rem;
}

.home-categories dd .tag {
    text-decoration: none;
    background: #f5f8f9;
    color: #7e8793;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;
}

.home-footer {
    width: 70%;
    margin: 0 auto;
    font-size: 0.75rem;
}

.home-footer p {
    margin: 0.2rem 0;
}

.download-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(0, #22dccf, #19c7c6);
}

.download-bar a {
    position: relative;
    display: flex;
    height: 3.5rem;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
}

.download-bar .logo-text {
    width: 70%;
}

.download-bar .logo-text img {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.3rem;
}

.download-bar a .logo-text {
    padding-left: 1.2rem;
}

.download-bar a .logo-text p {
    display: inline-block;
    vertical-align: 0.3rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: whitesmoke;
}

.download-bar a span {
    background-color: #fff;
    color: #5dd5ca;
    line-height: 2rem;
    width: 5.2rem;
    text-align: center;
    border-radius: 2rem;
    margin-right: 1rem;
}


/* list page */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-header {
    padding: 0.8rem 1rem;
}

.list-header form {
    width: 100%;
}

.list-header form .inner {
    width: 100%;
    background: #f5f8f9;
    margin: 0 1rem;
    line-height: 1.7rem;
    border-radius: 2rem;
    padding: 0 1rem;
}

.list-header form .inner input {
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    color: #8b96a6;
}

.list-header form button {
    border: none;
    background: none;
    font-size: 0.9rem;
    color: #5dd4c7;
    flex-shrink: 0;
    padding: 0;
}

.fliter {
    padding: 0.5rem 1rem;
    border: 1px solid #f5f8f9;
}

.fliter dd {
    display: none;
}

.fliter dl,
.fliter dd {
    margin: 0;
}

.fliter dt {
    font-size: 0.85rem;
}

.fliter .active dt {
    color: #333;
}

.fliter dt::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 1px solid #999;
    border-style: solid none none solid;
    transform: rotate(225deg);
    transform-origin: 2px 1px;
    margin-left: 0.5rem;
    transition: all 0.3s;
}

.fliter .active dt::after {
    transform: rotate(45deg);
}

.fliter .active dd {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: 0;
}

.fliter .active dd ul {
    margin: 0;
    padding: 0;
    background: #fff;
}

.fliter .active dd li {
    line-height: 3.5rem;
    text-indent: 1rem;
    list-style: none;
    color: #aaa;
}

.fliter .active dd li.active {
    background: #f5f8f9;
    color: #333;
}

.job-list {
    margin: 0;
    padding: 0;
}

.job-item {
    margin: 1rem;
    padding-bottom: 1rem;
    color: #7e8793;
    text-decoration: none;
    border-bottom: 1px solid #f5f8f9;
}

.job-item>img {
    height: 3.5rem;
    border-radius: 0.3rem;
}

.job-list .text {
    width: 100%;
    margin-left: 1rem;
}

.job-item .salary {
    font-size: 1.2rem;
    color: #fc6c38;
}

.job-item .title {
    color: #333;
    font-size: 0.9rem;
}

.job-item .company {
    color: #333;
    font-size: 0.8rem;
    margin: 0.2rem 0;
}

.job-list .props {
    font-size: 0.8rem;
}

.job-list .props span {
    margin-right: 0.5rem;
}


/* detail */

.top-bar img {
    height: 1rem;
}

.top-bar form {
    width: 40%;
    border: 1px solid #5bd4c7;
    border-radius: 2rem;
}

.top-bar form input {
    border: none;
    background: none;
    line-height: 1.5rem;
    width: 80%;
    padding: 0 0.5rem;
    color: #aaa;
    font-size: 0.9rem;
    outline: none;
}

.top-bar form button {
    border: none;
    background: url('../images/icons.png') no-repeat top center;
    background-size: 100% auto;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.job-info {
    background: #62d5c8;
    color: #fff;
}

.job-info .title {
    font-size: 1.2rem;
}

.jon-info .props {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.job-info .props .items {
    margin: 0.4rem 0;
}

.job-info .props .items i {
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background: #fff;
    margin: 0rem 0.5rem;
}

.job-info .tags span {
    border: 1px solid #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    font-size: 0.75rem;
}

.user-info {
    background: #eefbf9;
}

.user-info img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3.5rem;
}

.user-info>button {
    background: #62d5c8;
    color: #fff;
    flex-shrink: 0;
    /* button 不要缩小*/
}

.user-info .name {
    color: #333;
}

.user-info .name .like {
    color: #333;
    font-size: 0.8rem;
    color: #fb7042;
}

.user-info .name .like img {
    width: 12px;
    height: 12px;
}

.user-info .desc {
    color: #aaa;
    font-size: 0.7rem;
    margin-top: 1rem;
}

.user-info .info {
    width: 40%;
    margin: 0 1rem;
}

.job-detail h3 {
    color: #333;
    font-size: 1rem;
    position: relative;
}

.job-detail h3:after {
    content: '';
    width: 1rem;
    height: 1px;
    display: inline-block;
    background: #62d5c8;
    position: absolute;
    top: 1.8rem;
    left: 0;
}

.job-detail text {
    font-size: 0.95rem;
    line-height: 1.6rem;
}

.job-detail .tags {
    padding-top: 0.8rem;
}

.job-detail .tags span {
    font-size: 0.8rem;
    color: #5bd4c7;
    border: 1px solid #5bd4c7;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.job-detail .text table {
    border: 1px solid #ebecef;
    padding: 0.7rem 0.3rem;
    font-size: 0.75rem;
}

.job-detail .text th {
    font-weight: normal;
    width: 6rem;
    color: #fb7042;
}

.job-detail .text td {
    width: 8rem;
}

.company-info {
    background: #eefbf9;
}

.company-info>img {
    height: 3.5rem;
    border-radius: 3.5rem;
}

.company-info .info {
    width: 100%;
    margin-left: 1rem;
}

.company-info .info .name {
    color: #333;
}

.company-info .info .name .btn {
    background: #62d5c8;
    color: #fff;
}

.company-info .info .desc {
    font-size: 0.9rem;
    color: #333;
}

.company-info .info .tags {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    justify-content: flex-start;
}

.company-info .info .tags i {
    font-size: 0.75rem;
    display: inline-block;
    width: 1px;
    margin: 0 0.5rem;
}

.related-jobs h3 {
    color: #7e8793;
    font-weight: normal;
}

.related-jobs ul {
    list-style: none;
}

.related-jobs ul li>a {
    border: none;
    border-top: 1px solid #ebecef;
    margin: 0;
    padding: 1rem 0;
}

.related-jobs .btn {
    border: 1px solid #62d5c8;
    color: #62d5c8;
    background: none;
    margin-left: 7.2rem;
    padding: 0.4rem 1.2rem;
    margin-top: 0.2rem;
}

.related-companies h3 {
    color: #7e8793;
    font-weight: normal;
    font-size: 0.9rem;
}

.related-companies .tags a {
    color: #7e8793;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 0.8rem 0.2rem 0;
}

.job-footer {
    border-top: 1px solid #ebecef;
    margin: 1rem;
    padding: 1rem 0;
    line-height: 1.5rem;
}

.job-footer a {
    color: #7e8793;
    text-decoration: none;
    font-size: 0.7rem;
    margin: 0 0 0.2rem 0;
}

.job-footer i {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #9fa3b0;
    border-style: solid none none solid;
    transform: rotate(135deg);
}